apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: travel-planner

resources:
  - namespace.yaml
  - configmap.yaml
  - secrets.yaml
  - postgres.yaml
  - redis.yaml
  - backend.yaml
  - frontend.yaml
  - ingress.yaml
